html,
body,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto";
}

.container {
	padding: 24px;
}

.header {
	display: flex;
	height: 64px;
	justify-content: space-between;
}

.header__navigation {
	width: 100%;
	max-width: 500px;
	position: relative;
}

.header__navigation-list {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.header__navigation-list-item {
	list-style-type: none;
}

.header__navigation-list-item a {
	text-decoration: none;
	color: black;
}

a.active {
	color: rgb(208, 123, 50);
	cursor: initial;
}

.main-image {
	max-height: 1000px;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.error-image {
	display: block;
	max-height: 1000px;
	margin: 0 auto;
}

.hide {
	display: none;
}

@media (max-width: 1024px) {
	.header__navigation-list {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		transform: none;
		padding: 20px;
		width: 100%;
		height: 100vh;
		background-color: bisque;
		flex-direction: column;
		justify-content: stretch;
		gap: 24px;
		font-size: 28px;
		padding-top: 64px;
	}

	.hide {
		display: block;
	}

	.main {
		flex-direction: column;
	}
}

.show {
	display: flex;
}

#hamburger {
	padding: 0;
}