html,
body,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto";
}

.container {
	padding: 24px;
}

.header {
	display: flex;
	height: 64px;
	justify-content: space-between;
}

.header__navigation {
	width: 100%;
	max-width: 500px;
	position: relative;
}

.header__navigation-list {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.header__navigation-list-item {
	list-style-type: none;
}

.header__navigation-list-item a {
	text-decoration: none;
	color: black;
}

a.active {
	color: rgb(208, 123, 50);
	cursor: initial;
}

.main-image {
	max-height: 1000px;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.error-image {
	display: block;
	max-height: 1000px;
	margin: 0 auto;
}

.hide {
	display: none;
}

@media (max-width: 1024px) {
	.header__navigation-list {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		transform: none;
		padding: 20px;
		width: 100%;
		height: 100vh;
		background-color: bisque;
		flex-direction: column;
		justify-content: stretch;
		gap: 24px;
		font-size: 28px;
		padding-top: 64px;
	}

	.hide {
		display: block;
	}

	.main {
		flex-direction: column;
	}
}

.show {
	display: flex;
}

#hamburger {
	padding: 0;
}

input {
    box-sizing: border-box;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.column h2 {
    text-align: center;
    margin-bottom: 10px;
}

.card {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #d0d0d0;
}

.dialog {
    border: none;
}

.dialog h2 {
    margin: 0;
}

menu {
    margin: 0;
    padding: 0;
}

.dialog-content {
    background-color: #fefefe;
    border-radius: 5px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #ff7700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}


@media (max-width: 1024px) {
    .todo {
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin-top: 16px;
    }
    
    .column {
        width: 100%;
    }
}